# Python
__pycache__/
*.pyc
.venv/
venv/

# Data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# W&B
wandb/

# Reports
artifacts/*
!artifacts/reports/
!artifacts/reports/.gitkeep

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
