# Python
__pycache__/
*.pyc
.venv/
venv/

# Data
data/raw/*
data/processed/*
!data/processed/books_metadata.csv

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep
models/*.csv

# W&B
wandb/

# Reports
artifacts/*
!artifacts/reports/
!artifacts/reports/.gitkeep

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# MLruns
mlruns/

# wandb
wandb/

# logs
logs/*.jsonl
logs/*.json

#AWS
*.pem
